DB_URL=jdbc:mysql://127.0.0.1:3306/catalogo_dubai
DB_USERNAME=seu_usuario
DB_PASSWORD=sua_senha
JWT_SECRET=defina_um_segredo_longo_e_seguro

TEST_DB_URL=jdbc:mysql://127.0.0.1:3306/dubai_testes
TEST_DB_USERNAME=seu_usuario_de_testes
TEST_DB_PASSWORD=sua_senha_de_testes
